################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Policlinnic/DesignTimeBuild/.dtbcache.v2
/.vs/Policlinnic/FileContentIndex/64006775-d53e-4b0c-a688-a0a20d82f23f.vsidx
/.vs/Policlinnic/FileContentIndex/70986d38-758b-474b-917c-92d88d3fd57d.vsidx
/.vs/Policlinnic/FileContentIndex/73ab3893-b74f-40ce-b7fc-f1542591c724.vsidx
/.vs/Policlinnic/FileContentIndex/a09ae1db-f82f-4ad7-9a89-90b0e584a97a.vsidx
/.vs/Policlinnic/FileContentIndex/e832ee0d-6e60-4539-8e3c-324afec5733c.vsidx
/.vs/Policlinnic/v17/.suo
*.vsidx
/.vs/Policlinnic/v17/.futdcache.v2
/.vs/Policlinnic/v17/DocumentLayout.json
/.vs/ProjectEvaluation/policlinnic.metadata.v7.bin
/.vs/ProjectEvaluation/policlinnic.projects.v7.bin
